<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.DrawExtMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.DrawExt" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="extUid" property="extuid" jdbcType="INTEGER" />
    <result column="drawId" property="drawId" jdbcType="INTEGER" />
    <result column="extPrice" property="extPrice" jdbcType="DECIMAL" />
    <result column="opName" property="opName" jdbcType="VARCHAR" />
    <result column="opId" property="opId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from draw_ext
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.DrawExt" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into draw_ext (extUid, drawId, extPrice, 
      opName, opId, createTime, 
      modifyTime)
    values (#{extuid,jdbcType=INTEGER}, #{drawid,jdbcType=INTEGER}, #{extprice,jdbcType=DECIMAL}, 
      #{opname,jdbcType=VARCHAR}, #{opid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.DrawExt" >
    update draw_ext
    set extUid = #{extuid,jdbcType=INTEGER},
      drawId = #{drawid,jdbcType=INTEGER},
      extPrice = #{extprice,jdbcType=DECIMAL},
      opName = #{opname,jdbcType=VARCHAR},
      opId = #{opid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, extUid, drawId, extPrice, opName, opId, createTime, modifyTime
    from draw_ext
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, extUid, drawId, extPrice, opName, opId, createTime, modifyTime
    from draw_ext
  </select>
</mapper>