<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.DrawMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.Draw" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="prodUid" property="prodUid" jdbcType="INTEGER" />
    <result column="prodName" property="prodName" jdbcType="VARCHAR" />
    <result column="prodTel" property="prodTel" jdbcType="VARCHAR" />
    <result column="drawPrice" property="drawPrice" jdbcType="DECIMAL" />
    <result column="drawName" property="drawName" jdbcType="VARCHAR" />
    <result column="drawStatus" property="drawStatus" jdbcType="VARCHAR" />
    <result column="authName" property="authName" jdbcType="VARCHAR" />
    <result column="urlHd" property="urlHd" jdbcType="VARCHAR" />
    <result column="urlSimple" property="urlSimple" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="ownCount" property="ownCount" jdbcType="INTEGER" />
    <result column="ownFinishCount" property="ownFinishCount" jdbcType="INTEGER" />
    <result column="opName" property="opName" jdbcType="VARCHAR" />
    <result column="opId" property="opId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from draw
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.Draw" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into draw (prodUid, prodName, prodTel, 
      drawPrice, drawName, drawStatus, 
      authName, urlHd, urlSimple, 
      desc, ownCount, ownFinishCount, 
      opName, opId, createTime, 
      modifyTime)
    values (#{produid,jdbcType=INTEGER}, #{prodname,jdbcType=VARCHAR}, #{prodtel,jdbcType=VARCHAR}, 
      #{drawprice,jdbcType=DECIMAL}, #{drawname,jdbcType=VARCHAR}, #{drawstatus,jdbcType=VARCHAR}, 
      #{authname,jdbcType=VARCHAR}, #{urlhd,jdbcType=VARCHAR}, #{urlsimple,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{owncount,jdbcType=INTEGER}, #{ownfinishcount,jdbcType=INTEGER}, 
      #{opname,jdbcType=VARCHAR}, #{opid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.Draw" >
    update draw
    set prodUid = #{produid,jdbcType=INTEGER},
      prodName = #{prodname,jdbcType=VARCHAR},
      prodTel = #{prodtel,jdbcType=VARCHAR},
      drawPrice = #{drawprice,jdbcType=DECIMAL},
      drawName = #{drawname,jdbcType=VARCHAR},
      drawStatus = #{drawstatus,jdbcType=VARCHAR},
      authName = #{authname,jdbcType=VARCHAR},
      urlHd = #{urlhd,jdbcType=VARCHAR},
      urlSimple = #{urlsimple,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      ownCount = #{owncount,jdbcType=INTEGER},
      ownFinishCount = #{ownfinishcount,jdbcType=INTEGER},
      opName = #{opname,jdbcType=VARCHAR},
      opId = #{opid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, prodUid, prodName, prodTel, drawPrice, drawName, drawStatus, authName, 
    urlHd, urlSimple, desc, ownCount, ownFinishCount, opName, opId, createTime, modifyTime
    from draw
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, prodUid, prodName, prodTel, drawPrice, drawName, drawStatus, authName, 
    urlHd, urlSimple, desc, ownCount, ownFinishCount, opName, opId, createTime, modifyTime
    from draw
  </select>
</mapper>