<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.OperLogMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.OperLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderId" jdbcType="INTEGER" />
    <result column="incomeId" property="incomeId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="incomePrice" property="incomePrice" jdbcType="DECIMAL" />
    <result column="opName" property="opName" jdbcType="VARCHAR" />
    <result column="opId" property="opId" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oper_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.OperLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oper_log (orderId, incomeId, type, 
      incomePrice, opName, opId, 
      createTime, modifyTime)
    values (#{orderid,jdbcType=INTEGER}, #{incomeid,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{incomeprice,jdbcType=DECIMAL}, #{opname,jdbcType=VARCHAR}, #{opid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.OperLog" >
    update oper_log
    set orderId = #{orderid,jdbcType=INTEGER},
      incomeId = #{incomeid,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      incomePrice = #{incomeprice,jdbcType=DECIMAL},
      opName = #{opname,jdbcType=VARCHAR},
      opId = #{opid,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, orderId, incomeId, type, incomePrice, opName, opId, createTime, modifyTime
    from oper_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, orderId, incomeId, type, incomePrice, opName, opId, createTime, modifyTime
    from oper_log
  </select>
</mapper>