<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.OperLogMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.OperLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="orderId" property="orderId" jdbcType="INTEGER" />
    <result column="incomeId" property="incomeId" jdbcType="INTEGER" />
    <result column="tradeno" property="tradeno" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="incomePrice" property="incomePrice" jdbcType="DECIMAL" />
    <result column="opName" property="opName" jdbcType="VARCHAR" />
    <result column="opId" property="opId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oper_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.OperLog" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oper_log (uid, orderId, incomeId, tradeno, type,
      incomePrice, opName, opId, 
      createTime, modifyTime)
    values (#{uid,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{incomeId,jdbcType=INTEGER}, #{tradeno,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{incomePrice,jdbcType=DECIMAL}, #{opName,jdbcType=VARCHAR}, #{opId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.OperLog" >
    update oper_log
    set orderId = #{orderid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      incomeId = #{incomeId,jdbcType=INTEGER},
      tradeno = #{tradeno,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      incomePrice = #{incomePrice,jdbcType=DECIMAL},
      opName = #{opName,jdbcType=VARCHAR},
      opId = #{opId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, uid, orderId, incomeId, tradeno, type, incomePrice, opName, opId, createTime, modifyTime
    from oper_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, uid, orderId, incomeId, tradeno, type, incomePrice, opName, opId, createTime, modifyTime
    from oper_log
  </select>
  <select id="getByUid" resultMap="BaseResultMap" >
    select id, uid, orderId, incomeId, tradeno, type, incomePrice, opName, opId, createTime, modifyTime
    from oper_log where uid = #{uid,jdbcType=INTEGER} order by createTime desc
  </select>


</mapper>