<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aiwsport.core.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.aiwsport.core.entity.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="drawId" property="drawId" jdbcType="INTEGER" />
    <result column="drawExtId" property="drawExtId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="oName" property="oName" jdbcType="VARCHAR" />
    <result column="oTel" property="oTel" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="orderPrice" property="orderPrice" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="opName" property="opName" jdbcType="VARCHAR" />
    <result column="opId" property="opId" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aiwsport.core.entity.Order" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_info (code, drawId, drawExtId,
      uid, oName, oTel, type, status,
      orderPrice, info, opName, opId,
      createTime, modifyTime)
    values (#{code,jdbcType=VARCHAR}, #{drawId,jdbcType=INTEGER}, #{drawExtId,jdbcType=INTEGER},
      #{uid,jdbcType=INTEGER}, #{oName,jdbcType=VARCHAR}, #{oTel,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{orderPrice,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{opName,jdbcType=VARCHAR}, #{opId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.aiwsport.core.entity.Order" >
    update order_info
    set code = #{code,jdbcType=VARCHAR},
      drawId = #{drawId,jdbcType=INTEGER},
      drawExtId = #{drawExtId,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      oName = #{oName,jdbcType=VARCHAR},
      oTel = #{oTel,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      orderPrice = #{orderPrice,jdbcType=INTEGER},
      info = #{info,jdbcType=VARCHAR},
      opName = #{opName,jdbcType=VARCHAR},
      opid = #{opId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, code, drawId, drawExtId, uid, oName, oTel, type, status, orderPrice, info, opName, opid,
    createTime, modifyTime
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, drawId, drawExtId, uid, oName, oTel, type, status, orderPrice, info, opName, opid,
    createTime, modifyTime
    from order_info
  </select>
  <select id="getOrderByNo" resultMap="BaseResultMap" >
    select id, code, drawId, drawExtId, uid, oName, oTel, type, status, orderPrice, info, opName, opid,
    createTime, modifyTime
    from order_info
    where code = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="getOrderByUid" resultMap="BaseResultMap" >
    select id, code, drawId, drawExtId, uid, oName, oTel, type, status, orderPrice, info, opName, opid,
    createTime, modifyTime
    from order_info
    where uid = #{arg0} and status = #{arg1}
  </select>
</mapper>